@import '../../styles/variables.scss';

.Button {
    padding: 4px 10px;
    background-color: $button-purple;
    color: $text-color-white;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 5px;
    border: none;

    &:hover {
        opacity: 0.8;
    }
}