@import '../../styles/variables.scss';

.SortActionsList {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 20px;
    background-color: $background-sort;

    .SortActionsTitle {
        font-size: 12px;
    }

    .SortAction {
        margin-top: 10px;        
    }

    .active {
        opacity: 0.5;
    }
}