// Цвета текста
$text-color-gray: #A3A3A3; // Серый цвет текста
$text-color-black: #000000; // Черный цвет текста
$text-color-white: #FFFFFF; // Серый цвет текста

// Цвета фона
$background-list: #FFFFFF; // Белый фон списка карточек
$background-card: #F3F3F3; // Серый фон карточки
$background-sort: #BDBDBD; // Серый фон сортировки

// Цвета кнопок
$button-purple: #4B51EF; // Фиолетовая кнопка
$button-details: #4B51EF; // Кнопка "Подробнее"
$button-disabled: #AFAFAF; // Кнопка отправить (не активна)
$button-active: #52CF4F; // Кнопка отправить (активна)

// Цвета бордеров
$border-input: #D8D8D8; // Бордер инпута
$border-invalid-input: #D91313; // Бордер невалидного инпута